@font-face {
    font-family: "morabba";
    src: url("../font/morabba/Morabba-Bold.woff") format("woff"),
}

* {
    font-family: morabba;
    margin: 0;
    padding: 0;
}

html , body {
    height: 100%;
}

body {
    text-align: center;
    direction: rtl;
}

#header {
    height: 10%;
    background-color: #005581;
    text-align: center;
}

#header > ul {
    padding-top: 1.5%;
    list-style: none;
}

#header > ul > li {
    margin-left: 1%;
    margin-right: 1%;
    display: inline;
}

#header > ul > li:hover {
    background-color: grey;
}

#header > ul > li > a {
    color: white;
    font-size: 200%;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#main {
    height: 70%;
    background-color: #BAD8F3;
}

#main > div:first-child {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: #FCFCFC;
}

#main > div:last-child {
    position: absolute;
    color: white;
    font-size: 125%;
    background-color: red;
    margin: auto;
    top: 15%;
    left: 32%;
    width: 30%;
    padding: 2%;
    height: 2%;
    border: 10px double white;
    border-radius: 20px;
    display: none;
}

#main > div:first-child > h1 {
    padding-top: 10%;
    color: #005581;
    font-size: 500%;
    filter: drop-shadow(0 0 0.25rem #005581);
}

#main > div:first-child > span {
    display: block;
    height: 5%;
}

:focus {
    outline: none;
}

::placeholder {
    color: white;
}

#main > div:first-child > input {
    border: 5px double white;
    padding: 0.5%;
    width: 20%;
    background-color: #005581;
    color: white;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#main > div:first-child > button {
    padding: 0.5%;
    background-color: white;
    color: #005581;
    border: 5px double #005581;
    width: 10%;
}

#main > div:first-child > button:hover {
    background-color: #005581;
    color: white;
    border: 5px double white;
}

#footer {
    text-align: center;
    height: 20%;
    background-color: #005581;
}

#footer > ul > li::marker {
    color: white;
}

#footer > ul {
    display: inline-block;
}

#footer > ul {
    font-size: 150%;
    height: 60%;
    float: right;
    padding-right: 5%;
    padding-top: 2%;
}

#footer > ul:nth-child(2) {
    margin-right: -75%;
    float: none;
}

#footer > img {
    float: left;
    width: 10%;
}

#footer > ul > li{
    padding-top: 10%;
}

#footer > ul > li > a {
    color: wheat;
    text-decoration: none;
}

#footer > h6 {
    padding-top: 0.5%;
    color: white;
}